In [1]:
import pandas as pd
import numpy as np

In [3]:
s_movies=pd.read_csv('small/movies.csv')
s_people=pd.read_csv('small/people.csv')
s_stars=pd.read_csv('small/stars.csv')

In [5]:
s_movies.columns,s_people.columns,s_stars.columns

(Index(['id', 'title', 'year'], dtype='object'),
 Index(['id', 'name', 'birth'], dtype='object'),
 Index(['person_id', 'movie_id'], dtype='object'))

In [11]:
degree_df=s_people.merge(s_stars,left_on='id',right_on='person_id').merge(s_movies,left_on='movie_id',right_on='id')[['person_id','name','movie_id','title']]
degree_df

    person_id             name  movie_id               title
0         102      Kevin Bacon    104257      A Few Good Men
1         129       Tom Cruise    104257      A Few Good Men
2         193       Demi Moore    104257      A Few Good Men
3         197   Jack Nicholson    104257      A Few Good Men
4         102      Kevin Bacon    112384           Apollo 13
5         158        Tom Hanks    112384           Apollo 13
6         200      Bill Paxton    112384           Apollo 13
7         641      Gary Sinise    112384           Apollo 13
8         129       Tom Cruise     95953            Rain Man
9         163   Dustin Hoffman     95953            Rain Man
10        420   Valeria Golino     95953            Rain Man
11     596520  Gerald R. Molen     95953            Rain Man
12        144       Cary Elwes     93779  The Princess Bride
13       1597   Mandy Patinkin     93779  The Princess Bride
14       1697   Chris Sarandon     93779  The Princess Bride
15        705     Robin Wright     93779  The Princess Bride
16        158        Tom Hanks    109830        Forrest Gump
17        398      Sally Field    109830        Forrest Gump
18        641      Gary Sinise    109830        Forrest Gump
19        705     Robin Wright    109830        Forrest Gump

In [12]:
degree_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20 entries, 0 to 19
Data columns (total 4 columns):
person_id    20 non-null int64
name         20 non-null object
movie_id     20 non-null int64
title        20 non-null object
dtypes: int64(2), object(2)
memory usage: 800.0+ bytes

In [25]:
#Tom Hanks(158) --> Valeria Golino(420)
src_per=158
tgt_per=102#705#144#420
xpl_set=set()
frntr=[]
frntr.append(src_per)
while len(frntr)>0:
    mv_of_per=set(degree_df[degree_df['person_id'].isin(frntr)]['movie_id'].values)
    #mv_of_per=set(degree_df.query("person_id==@state")['movie_id'])
    for mvid in mv_of_per:
    #set(degree_df[degree_df['movie_id'].isin(mv_of_per)]['person_id'])
        per_ids=set(degree_df.query("movie_id==@mvid")['person_id'].values)
        if tgt in per_ids:
            print(f"Last action: {mvid}")
            break
        elif:
            xpl_set.update(per_ids)
            frntr=per_ids

[102, 158, 200, 641]
link found in same movie 112384

In [ ]:
#Tom Hanks(158) --> Valeria Golino(420)
src_per=158
tgt_per=102#705#144#420
xpl_set=set()
frntr=[]
frntr.append(src_per)
while len(frntr)>0:
    if tgt_per in frntr:
        print("Target found")
    elif:
        
    for prid in frntr:
        mvs_of_per=set(degree_df[degree_df['person_id']==prid]['movie_id'].values)
        for mvid in mvs_of_per:
            per_ids=set(degree_df.query("movie_id==@mvid")['person_id'].values)-xpl_set
            if tgt_per in per_ids:
                print(f"Last action: {mvid}")
                break
            elif:
                xpl_set.update(frntr)
                frntr.append(per_ids)
                frntr=frntr-xpl_set

In [ ]:
#Algo implimentation
#Tom Hanks(158) --> Valeria Golino(420)
src_per=158
tgt_per=102#705#144#420
xpl_set=set()
frntr=[]
frntr.append(src_per)
mov_per_dic=dict()
while len(frntr)>0:
    state=frntr[0]
    for state in frntr:
        if state==tgt_per:
            print("Target found")
        elif:
            xpl_set.add(state)
            mvs_of_per=set(degree_df.query("person_id==@state")['movie_id'].values)#These are the actions/directions
            for action in mvs_of_per:
                mov_per_dic[action]=set(degree_df.query("movie_id==@action")['person_id'].values)-xpl_set
                #new_states=set(degree_df.query("movie_id==@action")['person_id'].values)-xpl_set #Resulting nodes/states
                new_states=[new_state for new_state in mov_per_dic[action] if new_state not in frntr]
                mv_pr_tup=[(action,cln_new_sts) for cln_new_sts in new_states]
                frntr.append(new_states) #adding resulting states of frontier node expansion
                #frntr=frntr[1:] #Removing the expanded node from frontier
                #How to track the path?
                #More likely to do with Class/OO.. bcz a node should have parent info for tracking
                #Its more likely a big code -- need more variables

In [27]:
set([58])

{58}

In [ ]:
xpl_set.add()